@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$background-color: #f4f1bb;
$color: #5caba9;

body {
  background-color: $background-color;
  color: $color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
